.bubble-effect {
  width:100vw;
  height:100vh;
  background: radial-gradient(farthest-corner at 30vw 20vh,#7397a1 1%,#3f2c41 100%);
}

.bubble-effect span {
  position: absolute;
  bottom: -50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
  pointer-events: none;
  animation: raise 4s linear infinite;
}

.bubble-effect span::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  transform: scale(0.25) translate(-70%, -70%);
  background: radial-gradient(white, transparent);
  border-radius: 50%;
}

@keyframes raise
{
  0% {
    transform: translateY(0%);
    opacity: 1;
  }

  100% {
    transform: translateY(-1200%);
    opacity: 1;
  }
}
